# Virtual Environment
MLOPS_PROJECT-6.egg-info/
gcp-key.json
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log

# VS Code
.vscode/

# Mac
.DS_Store

# Docker
*.tar

# ML models (optional - if large)
*.pkl
*.joblib

# Build
build/
dist/
*.egg-info/

# Pip
pip-wheel-metadata/
